[Unit]
Description=Autostream ADC input
After=network-online.target
Wants=network-online.target

[Service]
ExecStart=/bin/bash /root/auto-stream/owntone-auto-stream.sh
Restart=on-failure
RestartSec=2
User=root
StandardOutput=null
StandardError=null

[Install]
WantedBy=multi-user.target
